html {
    font-family: "Comic Sans MS";
    max-width: 100%;
    margin: auto;
    background-color: darkmagenta;
    color: white;
}

div.code {
    padding: 5px 5px;
    border: black 1px solid;
    background-color: white;
    color: black;
}

.codeblock:nth-child(even) {
    background-color: lightgray;
}

code .comment {
    color: grey;
}

code .funct {
    color: blue;
}

code .number {
    color: crimson;
}

code .punct {
    color: black;
}

code .math {
    color: black;
}

code .logic {
    color: black;
}